.bg-container {
    @include position($type: fixed, $top: 0, $right: null, $bottom: null, $left: 0);
    @include wh(100%, 100%);
    @include bgs($img: '/src/images/bg.jpg', $h:100%, $w:100%, $type: cover);
}

.search__container {
    width: 1000px;
    margin: 34px auto 10em;
    position: relative;

    @include respondTo('max-md') {
        width: calc(100% - 40px);
        max-width: 850px;

        > div {
            min-height: 65px;
        }

        #search_text {
            padding: 8px 5px;
            font-size: 4vw;
            text-align: center;
            vertical-align: middle;
            line-height: 49px;
        }

        #closeSearch {
            margin: 6px 4px 0 0;
        }

        #react-autowhatever-1 {
            top: 57px;

            ul li > div {
                font-size: 3.6vw;
            }
        }
    }
}